header{
	width: 100%;
	height: 75px;
}
#Name{
	margin:0px;
	width:50%;
	height: 75px;
	float: left;
	text-align: center;
	background-color: blue;
	background-clip: padding-box;
	color: white;
	text-transform: uppercase;
}
#NavBar{
	width:50%;
	float:left;
	text-align: right;
}




a{
	color: #777777;
}
a:hover{
	color: black;
}
body{
	/*background-image: url("../images/background.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
