header{
	background: #ffffff;
	width: 100%;
	height: 75px;
	margin-bottom:0px;
}
#Name{
	margin:0px;
	width:50%;
	height: 75px;
	float: left;
	text-align: center;
	background-color: #4aaaa5;
	background-clip: padding-box;
	color: white;
	text-transform: uppercase;
	padding-top:15px;

}
#NavBar{
	width:50%;
	float:left;
	text-align: center;
	word-spacing:15px;
	font-size: 25px;
	margin-top:15px;
}
section{
	width:100%;
	height:500px;
	margin-top: 0px;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.ContentArea{
	float:left;
	background-color:white;
	z-index:1;
	margin: 40px 30px 15px 100px;
	width:40%;
	height:320px;

}
.aboutme{
	border-bottom: solid #dddddd 5px;
	margin-left:15px;
	margin-right:15px;
	font-size:50px;
	color: #4aaaa5;
}
.headshot{
	float:left;
	margin-left:15px;
	width:150px;
	height:150px;
}
p{
	float:left;
	margin-left: 15px;
	margin-right:15px;
}
.ExternalLinks{
	margin-top: 40px;
	background-color:white;
}





a{
	color: #777777;
}
a:hover{
	color: black;
}
body{
	/*background-image: url("../images/background.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
